* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    border: 2px solid black;
    /* border-width: 3px 6px 6px 3px;  */
    box-shadow: 5px 5px 1px black;
    width: 400px;
    padding: 10px;
}

#display {
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 1px black;
}

.input-operand {
    height: 30px;
    display: flex;
    align-items: center;
    /* background-color: red; */
    font-size: 20px;
}

.stored-operand {
    /* background-color: red; */
    height: 20px;
}

button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: solid black;
    border-width: 3px 4px 4px 3px;
}

#digits {
    justify-content: center;
    align-items: center;
    width: 100%;
}
