@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    border: 4px solid black;
    /* border-width: 3px 6px 6px 3px;  */
    box-shadow: -5px 5px 1px black;
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#display {
    border: 4px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
    box-shadow: -2px 2px 1px black;
    background-color: black;
    color: white;
}

.input-operand {
    height: 30px;
    display: flex;
    align-items: center;
    /* background-color: red; */
    font-size: 50px;
}

.stored-operand {
    /* background-color: red; */
    height: 20px;
}

button {
    background-color: transparent;
    width: 30px;
    height: 40px;
    box-shadow: -3px 3px 1px black;
    font-size: 20px;
    /* border-width: 3px 4px 4px 3px; */
}

button:hover {
    background-color: black;
    color: white;
}

#digits {
    display: flex;
    /* gap: 3px; */
}

.digits-left {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.numbers {
    gap: 3px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.btn-digits {
    flex: 0 0 87px;
}

.digits-right {
    flex: 1 1 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    gap: 3px;
}

.btn-operations,
#btn-equal,
#btn-float {
    background-color: black;
    color: white;
    flex: 0 0 88px;
}
.btn-operations:hover,
#btn-equal:hover,
#btn-float:hover {
    background-color: rgba(0, 0, 0, 0.192);
    color: black;
}
.footer-numbers {
    display: flex;
    gap: 3px;
}

.footer-numbers button {
    flex: 0 1 87px;
}

#btn-clear,
#btn-delete {
    margin: 10px 0;
    flex-grow: 1;
}

#options {
    display: flex;
}